a{
  text-decoration: none;
  color: black;
}

[required]{
background-color: blueviolet;
}

a[href*="google"]{
  text-transform: uppercase;
  background-color: pink;
}

a[href^="www"]{
  text-transform: uppercase;
  background-color: rgb(218, 31, 62);
}


